loop:
  gain: 0.0001
  leakyGain: 0.01
  numDroppedModes: 30
  pokeAmp: 0.02
  numItersIM: 50
  affinity: 2
  delay: 2
  method: push-pull
  IMFile: "" #"/home/whetstone/pyRTC/SHARP_LAB/IM.npy"
  AImodel: "shlong_10_default0m_SAM"
  AIhalfPrecision: False
  AIdevice: "cuda:0"
  AIburnIn: 50000
  AIresidualLength: 250000
  functions:
  # - standardIntegrator
  # - standardIntegratorPOL
    - leakyIntegrator


wfs:
  name: XIMEA
  serial: "46052550"
  binning: 1 #2
  exposure: 2000
  gain: 0
  bitDepth: 10
  left: 416 #208
  top: 280 #140
  width: 400 #192
  height: 400 #192
  darkCount: 2000
  darkFile: "/home/whetstone/pyRTC/SHARP_LAB/dark.npy"
  affinity: 3
  functions:
  - expose

slopes:
  type: SHWFS
  signalType: slopes
  refSlopesFile: "/home/whetstone/pyRTC/SHARP_LAB/ref.npy"
  validSubApsFile: "/home/whetstone/pyRTC/SHARP_LAB/validSubAps.npy"
  subApSpacing: 15.54 #7.78
  subApOffsetX: 13
  subApOffsetY: 8
  imageNoise: 0.5
  contrast: 20
  affinity: 4
  functions:
  - computeSignal

# wfs:
#   name: XIMEA
#   serial: "13056250"
#   type: PYWFS
#   signalType: slopes
#   pupilsRadius: 32
#   binning: 2
#   exposure: 3333
#   gain: 0
#   bitDepth: 10
#   left: 272
#   top: 50
#   width: 192
#   height: 192
#   darkCount: 1000
#   darkFile: "/home/whetstone/pyRTC/SHARP_LAB/dark.npy"
#   affinity: 12
#   flatNorm: True
#   pupils: 
#   - 44,57
#   - 45,138
#   - 150,75
#   - 130,138
#   functions:
#   - expose
#   - computeSignal

wfc:
  name: "ALPAO"
  serial: "BAX118"
  numActuators: 97
  numModes: 94
  flatFile: "/home/whetstone/pyRTC/SHARP_LAB/wfcShape.npy"
  saveFile: "/home/whetstone/pyRTC/SHARP_LAB/wfcShape.npy"
  m2cFile: "/home/whetstone/pyRTC/SHARP_LAB/m2c_kl.npy" 
  # m2cFile: "/home/whetstone/pyRTC/SHARP_LAB/m2c_zern_manual.npy"
  floatingActuatorsFile: "" #"/home/whetstone/pyRTC/SHARP_LAB/floating_actuators_indices.npy"
  floatingInfluenceRadius: 1
  affinity: 5
  commandCap: 0.8
  hardwareDelay: 0.001 #seconds
  frameDelay: 0
  functions:
  - sendToHardware

psf:
  name: "FLIR"
  index: 0
  exposure: 800
  gain: 0
  bitDepth: 16
  left: 768 #920
  top: 248 #436
  width: 640 #128
  height: 640 #128
  darkCount: 200
  darkFile: "" #"/home/whetstone/pyRTC/SHARP_LAB/psfDark.npy"
  modelFile: "/home/whetstone/pyRTC/SHARP_LAB/modelPSF.npy"
  integration: 1000
  affinity: 6
  functions:
  - expose
  - integrate
  - computeStrehl

modulator:
  name: 'E-727'
  libFolder: '/opt/PI/lib64/'
  digitalFreq: 20000 #Hz
  frequency: 300 #Hz
  amplitude: 1000
  relativeAmplitude: 1
  offsetX: 2500
  offsetY: 2500
  phaseOffset: 0
  servosOn: True
  autoZero: True

